body::-webkit-scrollbar {
  display: none;
}

html, body, #root, .App {
  overflow-x:hidden;
  position: relative; 
} 

.App {
  text-align: center;
}

  @font-face {
    font-family: 'Chicle';
    font-style: cursive;
    font-weight: normal;
    src: local("Chicle-Regular"),
      url("./Chicle-Regular.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: 'Grease';
    font-weight: normal;
    src: local("grease"),
      url("./grease__.ttf") format("truetype");
    font-weight: normal;
  }



  h1 {
    color: red;
      font-family:  'Chicle';
      font-size: 45px;
      font-style: italic;
      font-weight: 200;

  }

  .title {
    font-family:  'Chicle';
    font-weight: 200;
    color: red;
    font-size: 110px;
    font-style: italic;
}


    h2 {
        font-family: 'Grease';
        font-weight: 200;
        color: red;
    }

 div#songs, 
 div#profiles, 
 div#cast, 
 div#photos, 
 div#acknowledgements{
      margin-top: 50px;
      height: 50px;
      width: 50px;
  }